# Copyright 2019 Fluid Numerics LLC.
# Modified to only create network resources for Slurm-GCP and other HPC resources.
#
# Copyright 2017 SchedMD LLC.
# Modified for use with the Slurm Resource Manager.
#
# Copyright 2015 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% set region = properties["zone"].split('-')[0:2]|join('-') %}

resources:
- name: {{env["deployment"]}}-network
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false

- name: {{env["deployment"]}}-subnet
  type: compute.v1.subnetwork
  properties:
    network: $(ref.{{env["deployment"]}}-network.selfLink)
    ipCidrRange: {{ properties["cidr"]}}
    region: {{ region }}
    privateIpGoogleAccess: {{ properties["private_google_access"]}}

- name: {{env["deployment"]}}-ssh-firewall-rule
  type: compute.v1.firewall
  properties:
    network: $(ref.{{env["deployment"]}}-network.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["22","443"]
    - IPProtocol: ICMP

- name: {{env["deployment"]}}-all-internal-firewall-rule
  type: compute.v1.firewall
  properties:
    network: $(ref.{{env["deployment"]}}-network.selfLink)
    sourceRanges: [{{properties["cidr"]}}]
    allowed:
    - IPProtocol: TCP
      ports: ["0-65535"]
    - IPProtocol: UDP
      ports: ["0-65535"]
    - IPProtocol: ICMP

{% if (properties["create_cloud_router"]) %}
- name: {{env["deployment"]}}-router
  type: compute.v1.router
  properties:
    network: $(ref.{{env["deployment"]}}-network.selfLink)
    region: {{ region }}
    nats:
    - name: {{env["deployment"]}}-nat
      natIpAllocateOption: "AUTO_ONLY"
      sourceSubnetworkIpRangesToNat: "LIST_OF_SUBNETWORKS"
      subnetworks:
      - name: $(ref.{{env["deployment"]}}-subnet.selfLink)
        sourceIpRangesToNat: ["PRIMARY_IP_RANGE"]
{% endif %}
